<div class="fetch-pictures">
<form id="navigation" action="fetch_picture">
    <input id="today_picture" name="today" class="btn btn-primary" type="submit" value="Today's Picture"/>
    <input id="random_picture" name="random" class="btn btn-primary" type="submit" value="Random Picture"/>
</form>

</div>

<div class="fetch-favorites">
    <a href="/favorites">
        <button type="button" class="btn btn-info">Favorites</button>
    </a>
</div>